
.loginPage {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.loginFormBox{
    width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
}

.thirdPartyContainer{
    width: 90%;
}


.thirdPartyContainerLogin {
    padding-bottom: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6);
    display: flex;
    align-items: flex-start;
    border-radius: 25px;
    overflow: hidden;
    max-height: 40px;
    width: 95%;
    margin-bottom: 12px;
}

.thirdPartyBtns {
    text-transform: none !important;
    border: none !important;
    background: none !important;
    color: black !important;
    font-family: "Google Sans",arial,sans-serif !important;
    font-weight: 500 !important;
    overflow: hidden ;
    text-overflow: ellipsis;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.loginText {
    font-size: 0.75rem !important;
    text-align: left !important;
    font-weight: 400 !important;
    line-height: 1.33333 !important;
    color: rgba(0, 0, 0, 0.9) !important;
    margin: 16px 0 8px 0 !important;
  }
  
  .loginTextSpan {
    font-weight: 500 !important;
    color: #0b66c2 !important;
    cursor: pointer ;
  }

.loginFooterText {
    margin: 0;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 14px;
}

.loginFooterTextBtn {
    color: #0b66c2 !important;
    font-weight: 500 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px !important;

    border-radius: 20%;
    cursor: pointer;
}
.loginFooterTextBtn:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    background-color: rgb(11, 102, 194, 0.1);
}

.loginLogo {
  width: 108px;
  opacity: 1;
}

.formDivider{
    display: block;
    width: 100%;
    margin: 20px auto;
    width: 100%;
    color: #696c6f;
    position: relative;
}
.dividerLine {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #cdcfd2;
    vertical-align: middle;
    position: relative;
}
.dividerTextContent{
    position: absolute;
    right: 125px;
}
.dividerText{
    padding: 0 20px;
    background: #edf0f3;
    background-color: #fff !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.9) !important;
}